*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(243, 243, 218);
    border: 1px solid gray;
}
.header{
    background-color: rgb(0, 221, 246);
    padding: 50px ;
}
.header>img{
    width: 150px;
}
.header>p{
    padding-left: 60%;
    color: white;
}
.menu{
    background-color: rgb(255, 255, 255);
}
.menu>ul>li{
    display: inline-block;
    padding: 10px 50px;
    font-size: 20px;
}
.menu>ul>li>a{
    text-decoration: none;
    color: rgb(198, 253, 0);
    font-weight: 700;
}
.menu>ul>li>a:hover{
    color: rgb(152, 95, 250);
    font-weight: 900;
}
marquee{
    font-size: 24px;
    color: rgb(0, 0, 255);
    font-weight: 700;
}
.banner>img{
    height: 450px;
}
h3{
    text-transform: uppercase;
    color: rgb(248, 45, 116);
    margin: 10px 0 10px 5px;
}
.lienhe{
    border: 1px solid gray;
    margin: 10px 30px 10px 10px;  
    background-color: rgb(249, 231, 233); 
}
.lienhe1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px;
}
.anh>img{
    width: 80%;
} 
.chu>a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.chu>a:hover{
    color: red;
    text-decoration: underline;
}
.footer{
    background-color: #DDDD6B;
    margin-top: 30px;
    text-align: center;
    padding: 20px 50px 40px 50px;
    color: green;
    
}
.footer>img{
    padding-top: 25px;
}
@media only screen and (max-width: 600px) {
    .header>img{
        width: 100px;
    }
    .header>p{
        padding-left: 40%;
    }
    .menu>ul>li{
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
    }
    p{
        font-size: 10px;
    }
    h2{
        text-align: center;
        margin-top: 50px;
        font-size: 18px;
        color: rgb(121, 61, 39);
    }
    h3{
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }
    .ddanh{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        border: 1px solid gray;
        background-color: rgb(249, 231, 233);
    }
    .trai{
        font-size: 16px;
    }
    .giua{
        font-size: 16px;
    }
    .phai{
        font-size: 16px;
    }
    .trai>img{
        width: 90%;
        margin: 5px;
    }
    .giua>img{
        width: 90%;
        margin: 5px;
    }
    .phai>img{
        width: 90%;
        margin: 5px;
    }
    marquee{
        font-size: 20px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr ;
        background-color: #DDDD6B;
        margin-top: 30px;
        text-align: center;
        align-items: center;
        padding: 10px 10px 20px 10px;
        color: green;
    }
    .noiDung{
            display: contents;
        }
}


@media only screen and (min-width: 600px) {
    p{
        font-size: 14px;
    }
    .header>img{
        width: 160px;
    }
    .header>p{
        padding: 15px;
        padding-left: 60%;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr ;
        background-color: #DDDD6B;
        margin-top: 30px;
        text-align: center;
        align-items: center;
        padding: 10px 10px 20px 10px;
        color: green;
    }
    
}


@media only screen and (min-width: 768px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        background-color: #DDDD6B;
        margin-top: 30px;
        text-align: center;
        padding: 20px 50px 20px 20px;
        color: green;
    }
    p{
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        background-color: #DDDD6B;
        margin-top: 30px;
        text-align: center;
        padding: 20px 50px 20px 20px;
        color: green;
    }
    p{
        font-size: 20px;
    }
}


@media only screen and (min-width: 1200px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        background-color: #DDDD6B;
        margin-top: 30px;
        text-align: center;
        padding: 20px 50px 20px 20px;
        color: green;
    }
    p{
        font-size: 20px;
    }
}